.achievement {
    width: 25%;
    background-color: var(--red);
    height: calc(100vh - 50px);
}

.achievement .title, .achievement .container {
    color: var(--white);
}

.achievement .container {
    width: 80vw;
    overflow-x: auto;
    height: calc(94vh - 160px);
}

.achievement table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.achievement thead, .achievement tr, .achievement td {
    margin: 0;
    text-align: center;
}

.achievement th {
    background-color: var(--white);
    color: var(--red);
    height: calc((94vh - 160px) / 8);
}

.achievement tr {
    height: calc((94vh - 160px) / 8);
    padding: 0;
}

.achievement th:first-child, .achievement td:first-child {
    width: 70%;
}

.achievement th:nth-child(2), .achievement td:nth-child(2) {
    width: 20%;
}

.achievement tr:nth-child(odd) {
    background-color: var(--anotherred);
    color: var(--white);
}

.achievement tr:nth-child(even) {
    background-color: var(--lightred);
    color: var(--red);
}

@media screen and (max-width: 425px) {
    .achievement table {
        font-size: 12px;
        min-width: calc(800vw / 7);
    }
}